.pageContent {
  padding-top: 4rem;
  padding-bottom: 5rem;
  max-width: 800px; /* Narrower width for better readability of text */
  margin-left: auto;
  margin-right: auto;
}

.pageContent h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.pageContent p,
.pageContent ul {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--color-text-light);
}

.pageContent ul {
  list-style-position: inside;
  padding-left: 0;
}

.pageContent li {
  margin-bottom: 1rem;
}
