p {
    margin: 0px;
    padding: 0px;
}

.title {
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-inline: 2rem;
    padding-block: 0.3rem;
    background-color: #1A1A1A;
}

.title p {
    padding-block: 1px;
    font-size: 14px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-server {
    display: flex;
    flex-direction: row;
}

.login {
    padding-inline: 2rem;
    padding-block: 2rem;
}

.login input,
.login button {
    padding: 12px 16px;
}

.login input {
    background-color: #696969;
    border: 1px solid #1F1F1F;
}

.login input::placeholder {
    color: #212529;
}

.login input:focus {
    outline: none;
    border: 1px solid #1F1F1F;
}

.login button {
    color: #D6D6D6;
    background-color: #B22D00;
    border: 1px solid #7E2000;
}

.login p {
    font-size: 12px;
    color: #B22D00;
    margin-top: 10px;
}

.form-server input {
    width: 85%;
    margin-right: 10px;
}

.btn-img {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 24px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #1C1C1C;

    background-color: #0D0D0D;
}

#numbers {
    font-weight: bold;
    font-size: 20px;
}

#online {
    font-size: 12px;
}

#btn-arrow {
    background-color: #161616;
    border: 1px solid #1F1F1F;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

#btn-arrow img {
    height: 38%;
    width: 38%;
    object-fit: contain;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-inline: 35px;
    padding-block: 15px;

    border-top: 1px solid #1C1C1C;
    border-bottom: 1px solid #1C1C1C;
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    font-weight: lighter;
}

.player-info img {
    border-radius: 5px;
}

.player-bagde {
    font-family: 'Minecraft', sans-serif;
    color: #696969;
    font-size: 14px;
    text-align: center;

    border: 2px solid #1C1C1C;

    padding: 4px 6px 2px 7px;
}

.show-more {
    display: flex;
    justify-content: space-between;

    padding-inline: 35px;
    padding-block: 15px;

    border-top: 1px solid #1C1C1C;
}

.show-more p {
    font-size: 14px;
}

.show-more button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border: 2px solid #1C1C1C;
    border-radius: 50%;

    cursor: pointer;
}