@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('assets/fonts/Minecraft.ttf') format('woff');
}

#root {
    padding: 0rem;
    margin: 0rem;

    overflow-x: hidden;

    background-color: #111111;
    color: #D6D6D6;

    font-family: "Inter", sans-serif;
}