.login {
    padding-inline: 2rem;
}

.login input,
.login button {
    padding: 12px 16px;
}

.login input {
    background-color: var(--gray-200);
    border: 1px solid #1F1F1F;
    margin-right: 10px;
}

.login input::placeholder {
    color: var(--gray-300);
}

.login input:focus {
    outline: none;
    border: 1px solid #1F1F1F;
}

.login button {
    color: var(--white-300);
    background-color: var(--orange-200);
    border: 1px solid var(--orange-300);
}

.login p {
    font-size: 12px;
    color: var(--orange-200);
    margin-top: 10px;
}

.links {
    display: flex;
    flex-direction: row;
}

.line {
    height: 4px;
    background-color: var(--orange-200);

    margin-top: 8px;
    width: inherit;
}

.active {
    border-bottom: 4px solid var(--orange-200);
}

.form-server {
    display: flex;
    flex-direction: row;
}

.ranking-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 5px;
}

a {
    color: var(--white-300);
    text-decoration: none;
    font-size: 13px;

    padding-inline: 2rem;
    padding-bottom: 0.9rem;
    border-bottom: 4px solid #1F1F1F;
}